---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Interactive <span class="text-red-400">Section</span></h1>
		<button class="uppercase w-28 h-10">
			send
		</button>
	</main>
</Layout>

