---
import Layout from "../layouts/Layout.astro";
import { App } from "./App";
---

<Layout title="Interactive secions comments">
	<main class="relative container p-2 xl:p-4 w-full mx-auto">
		<App client:visible />
	</main>
</Layout>